table thead th {
  width: 308px;
}
.input-group{
  margin: 20px 0;
}
td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

td:first-child{
  height: 150px;
  width: 200px;
}
